@model List<Biblioteca.Models.Livro>;

@foreach(Livro item in Model)
{
    <h3>Nome: @item.titulo</h3>
    <p>Número de páginas: @item.numPaginas</p>
    <p>Autor: @item.autor</p>
    <p>Gênero: @item.genero</p>
    <p>Data de publicação: @item.dataPublicacao</p>
}
