@model List<Biblioteca.Models.Livro>;

@foreach(Livro item in Model)
{
    <h3>Nome: @item.Titulo</h3>
    <p>Número de páginas: @item.QtdPaginas</p>
    <p>Autor: @item.Autor</p>
    <p>Gênero: @item.Genero</p>
    <p>Data de publicação: @item.DataPublicacao</p>
}
